### Data Merge

In [5]:
import pandas as pd

# make a dictionary of some values
    #DataSet 1: Personal Information
data1 = {
'id': [1,2,3], 
'Name': ['John', 'Steve', 'Sarah'],
'Age': [30, 32, 28]

}
df1=pd.DataFrame(data1)
df1.head()

    #Data Set 2: Additional Information
data2 = {
'id': [1,2,4], 
'City': ['Lahore', 'Karachi', 'England'],
'Job': ['Software Engineer', 'Data Analyst', 'Data Engineer']
}
df2= pd.DataFrame(data2)

In [6]:
# Merge the dataframes
df3 = pd.merge(df1, df2, on='id', how='inner')
df3

   id   Name  Age     City                Job
0   1   John   30   Lahore  Software Engineer
1   2  Steve   32  Karachi       Data Analyst

#### Concetenation

In [7]:
import pandas as pd

# Example datasets for Pakistani context
# Dataset 1 - Pakistani Names and Ages
data1 = {'Name': ['Ahmed', 'Fatima', 'Ali'], 'Age': [28, 32, 24]}
# Dataset 2 - More Pakistani Names and Ages
data2 = {'Name': ['Sara', 'Usman', 'Aisha'], 'Age': [29, 35, 27]}
# Dataset 3 - Cities and Provinces in Pakistan
data3 = {'City': ['Karachi', 'Lahore', 'Islamabad'], 'Province': ['Sindh', 'Punjab', 'Islamabad']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

# Concatenating Rows
concatenated_rows = pd.concat([df1, df2])

# Concatenating Columns
# Note: For a meaningful column-wise concatenation, dataframes should have the same number of rows.
concatenated_columns = pd.concat([df1, df3], axis=1)
print(concatenated_rows)
print(";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;")
concatenated_columns

     Name  Age
0   Ahmed   28
1  Fatima   32
2     Ali   24
0    Sara   29
1   Usman   35
2   Aisha   27
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

     Name  Age       City   Province
0   Ahmed   28    Karachi      Sindh
1  Fatima   32     Lahore     Punjab
2     Ali   24  Islamabad  Islamabad